
@{
    ViewData["Title"] = "Create";
}

<h1>Hello! @User.Identity.Name  </h1>
    
<h2>Welcome to the create page!</h2>

<form action="/Account/Logout" method="POST">
   <input type="submit" value="Logout" />
</form>