@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to HealthCare</h1>
    <h4>Please login using your Okta credentials</h4>
    
</div>

<div style="text-align:center; margin-top: 30px; border-radius:10px;">
    <img style="border-radius:10px;"src="~/img/Coalition-banner.jpg" />
</div>