@model OktaExample.Models.Prescription

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Prescription</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="PrescriptionTitle" class="control-label"></label>
                <input asp-for="PrescriptionTitle" class="form-control" />
                <span asp-validation-for="PrescriptionTitle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PrescriptionContent" class="control-label"></label>
                <input asp-for="PrescriptionContent" class="form-control" />
                <span asp-validation-for="PrescriptionContent" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PrescriptionComments" class="control-label"></label>
                <input asp-for="PrescriptionComments" class="form-control" />
                <span asp-validation-for="PrescriptionComments" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DatePosted" class="control-label"></label>
                <input asp-for="DatePosted" class="form-control" />
                <span asp-validation-for="DatePosted" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
